@import url('https://fonts.googleapis.com/css2?family=Economica:wght@700&family=Merriweather&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: merriweather, sans-serif;
}

/*logo and navigation*/

h1 {
    font-family: economica, sans-serif;
    font-size: 78px;
    text-align: center;
    margin-top: 25px;
    color: black;
    text-transform: uppercase;
}

#navigation {
    font-family: economica;
    list-style-type: none;
    text-align: center;
    float: left;
    font-size: 40px;
    word-spacing: 200px;
}

#logo {
    float: left;
    margin-left: 42.5%;
}

ul {
    border-top: 3px solid black;
    border-bottom: 2px solid black;
}

li {
    display: inline;
}

li a {
    color: black;
    text-align: center;
}