@import url('https://fonts.googleapis.com/css2?family=Economica:wght@700&family=Merriweather&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: merriweather, sans-serif;
}

/*logo and navigation*/

h1 {
    font-family: economica, sans-serif;
    font-size: 68px;
    text-align: center;
    margin-top: 25px;
    color: black;
}

#navigation {
    font-family: economica;
    list-style-type: none;
    text-align: center;
    margin: 25px;
    float: left;
}

#logo {
    float: left;
    margin-left: 42.5%;
}